/* ===== основные стили ===== */

.page {
  background: var(--background-image) var(--background-color) fixed center /
    cover no-repeat;
  font: 400 18px/130% var(--font-family);
  min-block-size: 100vh;
}

/* ===== хэдер и навигация ===== */

.header {
  display: grid;
  block-size: 100vh;
  min-block-size: 668px;
  grid-template-rows: 0 1fr min-content 1fr;
  padding: 20px 20px;
}

.header__theme-menu-list {
  display: grid;
  grid-template-columns: repeat(3, 70px);
  gap: 10px;
  justify-content: center;
  justify-self: center;
  font: 400 18px/100% var(--font-family);
  color: var(--menu-color);
  text-transform: lowercase;
}

.header__theme-menu-button {
  border: none;
  background: transparent;
  padding: 0 13px;
  inline-size: 70px;
  min-block-size: 26px;
  border-block-end: 1px solid transparent;
  cursor: pointer;
  color: inherit;
  font: inherit;
  transition: border-color 0.3s ease;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid currentColor;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--menu-button_hover);
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end-color: currentColor;
}

/* ===== декоративные элементы ===== */

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  inset-inline-end: 20px;
  inset-block-start: 20px;
  border-block-start: 1px solid var(--menu-color);
  border-inline-end: 1px solid var(--menu-color);
}

.decorated-zone::after {
  inset-inline-start: 20px;
  inset-block-end: 20px;
  border-inline-start: 1px solid var(--menu-color);
  border-block-end: 1px solid var(--menu-color);
}

.rec {
  position: absolute;
  inset-inline-end: 48px;
  inset-block-start: 20px;
}

.rec::before {
  content: "rec";
  font: 400 18px/139% var(--font-family);
  color: var(--menu-color);
  text-transform: uppercase;
}

.rec::after {
  content: "";
  position: absolute;
  inset-inline-start: 100%;
  inset-block-start: 50%;
  transform: translate(1px, -50%);
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  background: var(--menu-color);
  box-shadow: 0 0 4px 2px var(--menu-color);
  margin-inline-start: 10px;
}

/* ===== типография ===== */

.main-title {
  font: 700 157px/83% var(--font-family);
  color: var(--title-color);
  text-shadow: var(--text-shadow);
  margin-inline-start: -12px;
  align-self: end;
  grid-row: 3;
}

.title-decor {
  font: 700 18px/130% var(--font-family);
  color: var(--title-text-color);
  background: var(--accent-color);
}

.title-normal {
  font-weight: 400;
}

.header_title-text {
  justify-self: end;
  align-self: center;
  inline-size: min(491px, 100%);
  grid-row: 4;
}

.section-title {
  font: 700 18px/130% var(--font-family);
  color: var(--section-title);
}

.card-text {
  font: 400 18px/130% var(--font-family);
  color: var(--text-color);
  margin-block-start: 10px;
}

/* ===== контент ===== */

.content {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 60px 20px;
}

.content__section_main-question,
.content__section_advice {
  display: grid;
  grid-template-columns: 32% 1fr;
  gap: 20px;
}

.section-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* ===== раздел Причины ===== */

.content__section_reasons {
  display: block;
}

.reasons-title {
  inline-size: 315px;
}

.section_reasons-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-block-start: 20px;
}

/* ===== ссылки ===== */

.text-allocated {
  text-shadow: var(--link-shadow);
  text-decoration: none;
  transition: border-color 0.3s ease;
}

.text-allocated:hover {
  border-block-end: 1px solid var(--text-color);
}

.text-allocated:focus-visible {
  outline: 1px solid var(--text-color);
  outline-offset: 2px;
}

/* ===== галерея картинок ===== */

.content__section_gallery {
  display: grid;
  grid-template:
    "title title title" min-content
    "sunset sunset ice-cream" auto
    "tape books ice-cream" auto
    "tape street street" auto / 1fr 1fr 1fr;
  gap: 20px;
}

.section_gallery-img {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.gallery-title {
  grid-area: title;
}
.sunset {
  grid-area: sunset;
}
.ice-cream {
  grid-area: ice-cream;
}
.books {
  grid-area: books;
}
.tape {
  grid-area: tape;
}
.street {
  grid-area: street;
}

/* ===== футер ===== */

.footer {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  block-size: 100vh;
  min-block-size: 668px;
  position: relative;
  --text-shadow: 2px 2px 0 var(--accent-color);
}

.footer_title {
  grid-row: 2;
  align-self: center;
  justify-self: center;
  padding-inline-start: 20px;
}

/* ===== медиа запросы ===== */

/* десктоп (768px - 1023px) */
@media (768px <= width < 1024px) {
  .main-title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__theme-menu-list {
    grid-template-columns: 70px;
    grid-template-rows: repeat(3, 1fr);
    justify-content: end;
  }

  .header__theme-menu {
    align-self: center;
  }

  .header_title-text {
    inline-size: min(364px, 100%);
  }

  .section_reasons-cards {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .reasons-title {
    inline-size: 236px;
  }
}

/* мобильный (375px - 767px) */
@media (375px <= width < 768px) {
  .main-title {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-inline-start: 0;
  }

  .header {
    padding: 10px;
    grid-template-rows: 0 1fr min-content 1fr;
  }

  .header__theme-menu-list {
    grid-template-columns: 70px;
    grid-template-rows: repeat(3, 1fr);
    justify-content: end;
  }

  .header__theme-menu {
    align-self: center;
    padding-block-start: 5px;
  }

  .header_title-text {
    inline-size: min(355px, 100%);
    margin-block-end: 10px;
  }

  .content {
    padding: 40px 10px;
    gap: 50px;
  }

  .content__section_main-question,
  .content__section_advice {
    grid-template-columns: 1fr;
  }

  .section_reasons-cards {
    grid-template-columns: 1fr;
  }

  .reasons-title {
    inline-size: 100%;
    max-inline-size: 236px;
  }

  .content__section_gallery {
    grid-template:
      "title" min-content
      "sunset" auto
      "ice-cream" auto
      "tape" auto
      "books" auto
      "street" auto / 1fr;
    gap: 10px;
  }

  /* декоративные элементы для мобильной версии */

  .decorated-zone::before {
    inset-inline-end: 10px;
    inset-block-start: 10px;
  }

  .decorated-zone::after {
    inset-inline-start: 10px;
    inset-block-end: 10px;
  }

  .rec {
    inset-inline-end: 38px;
    inset-block-start: 10px;
  }

  .rec::after {
    transform: translate(8px, -50%);
  }

  .footer_title {
    padding-inline-start: 4px;
  }
}

/* оптимизация дисплеев с высоким разрешением */

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .section_gallery-img {
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}
